<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
        {{> header}}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
        {{{body}}}
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          {{> footer}}
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    {{> scripts}}
  </body>
</html>
